<nav class="navbar navbar-expand-lg navbar-light">
    <div class="brand-container">
        <img class="main-logo" src="/assets/logo.png" alt="" />
        <div class="text-logo">Tertulibro</div>
    </div>
    <div class="sections-container">
        <span>¿Que es Tertulibro?</span>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Enfoques
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">Salud y estilos de vida</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Crecimiento Persona</a></li>
                        <li><a class="dropdown-item" href="#">Educacion financiera</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Espiritualidad y energia</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <span>Tertulias</span>
        <span>Galeria</span>
    </div>
</nav>
