::ng-deep {
    vg-player {
        background-color: white !important;
        max-height: 70vh;
        video {
            max-height: 70vh;
        }
    }

    ng-image-slider {
        a {
            color: #2a5924 !important;
            text-decoration: none;
        }
        .caption {
            border-radius: 1rem !important;
        }

        .img-div {
            border-radius: 1rem !important;

            img {
                border-radius: 1rem !important;
            }
        }
    }
}

.main-section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .vid-container {
        padding: 2rem;
    }

    .info-container {
        display: flex;
        align-items: center;

        .info-img {
            width: 100%;
            height: 500px;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }
}

@media (max-width: 576px) {
    .main-section-container {
        .vid-container {
            padding: 2rem;
            max-height: 85vh;
        }

        .info-container {
            padding: 2rem;
        }
    }
}
