::ng-deep {
    vg-player {
        background-color: white !important;
        max-height: 70vh;
        video {
            max-height: 70vh;
        }
    }
}

.main-section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .vid-container {
        padding: 2rem;
    }

    .info-container {
        display: flex;
        align-items: center;

        .info-img {
            border-radius: 8px;
            max-width: inherit;
            max-height: 70vh;
        }
    }
}

@media (max-width: 576px) {
    .main-section-container {
        .vid-container {
            padding: 2rem;
            max-height: 85vh;
        }

        .info-container {
            padding: 2rem;
        }
    }
}
